<!DOCTYPE html>
<!--
  description  
  @author EMP 2023/09/08 9:20 
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <!-- &lt;!&ndash; 引入样式 &ndash;&gt; -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
    <!-- &lt;!&ndash; 引入组件库 &ndash;&gt; -->
    <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
</head>
<body>
    <div style="text-align: center">
        <h1>Welcome to index page</h1>

        <div style="width: 50%;margin: auto;">
            <ul>
                <li>
                    <h2><a href="/index/student/info">查询成绩信息</a></h2>
                </li>
                <li>
                    <h2><a href="/index/job">查询工作信息 elementUI + Vue</a></h2>
                </li>
                <li>
                    <h2><a href="/model/job/list">查询工作信息 原生</a></h2>
                </li>
            </ul>
        </div>

    </div>

</body>

<style>
    ul{
        border: 2px solid;
    }
    li{
        background-color: bisque;
    }
</style>
</html>